[Unit]
Description=Gammastep display color temperature adjustment
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gammastep
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
